# Twitch設定
TWITCH_CLIENT_ID=デベロッパーコンソールで取得したクライアントID
TWITCH_CLIENT_SECRET=デベロッパーコンソールで取得したクライアントシークレット
TWITCH_BROADCASTER_ID=あなたのTwitchユーザー名またはユーザーID

# Bluesky設定
BLUESKY_USERNAME=xxxxxxx.bsky.social または 独自ドメイン等ご利用中のID
BLUESKY_PASSWORD=Blueskyのアプリパスワード
BLUESKY_IMAGE_PATH=images\noimage.png
BLUESKY_TEMPLATE_PATH=templates/default_template.txt

# Webhook設定
WEBHOOK_SECRET=WYo7BMIIl4DlbVUaWhleV5odMBDtUxIu
SECRET_LAST_ROTATED=
WEBHOOK_CALLBACK_URL=https://example.net/webhook

# Discord通知設定
discord_error_notifier_url=https://discord.com/api/webhooks/xxxxxx/xxxxxx 
discord_notify_level=CRITICAL

# タイムゾーン設定 (例: Asia/Tokyo )
TIMEZONE=Asia/Tokyo

# ログ関連機能の設定
LOG_LEVEL=INFO
LOG_RETENTION_DAYS=14

# Cloudflareトンネルの設定
TUNNEL_CMD=トンネル起動コマンドを入力

# APIエラー時のリトライ
RETRY_MAX=3
RETRY_WAIT=2